* {
  background-color: rgb(17, 22, 22);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: -10px;
  color: blanchedalmond;
  font-family: "Ruslan Display", cursive;

  cursor: url("images/icons8-scary-tree-24.png"), auto;
}

.game {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-level {
  font-size: 4rem;
  padding-top: 2rem;
}

.ui-message {
  font-size: 2rem;
}

.level-two {
  display: none;
}

/* .next-button-lvl2 {
  padding: 1rem 3rem;
  background-color: aqua;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
} */

.level-three {
  display: none;
}

/* .next-button-lvl3 {
  padding: 1rem 3rem;
  background-color: aqua;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
} */

.scary-pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0px;
}

.masterDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theMaze {
  font-size: 100px;
}

.desc {
  font-size: 30px;
}

.playBtn {
  height: 100px;
  width: 300px;
  margin-top: 400px;
  background-color: cornflowerblue;
  cursor: pointer;
  font-size: 50px;
  border: none;
  border-radius: 5px;
}

.maze-border {
  vertical-align: middle;
  transition: -webkit-filter 0.25s linear 99999s, filter 0.25s linear 99999s;
}
.maze-border:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition-delay: 0s;
}
.game::after {
  animation: colours 5s linear infinite;
  bottom: 0;
  content: "";
  left: 0;
  mix-blend-mode: overlay;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s linear 99999s;
}
.game:hover::after {
  opacity: 0.75;
  transition-delay: 0s;
}
.game.paused::after {
  animation-play-state: paused;
}
@keyframes colours {
  0% {
    background: #f00;
  }
  16.667% {
    background: #ff0;
  }
  33.333% {
    background: #0f0;
  }
  50% {
    background: #0ff;
  }
  66.667% {
    background: #00f;
  }
  83.333% {
    background: #f0f;
  }
  100% {
    background: #f00;
  }
}
